---
import "../style.css";
import { site } from "../site-info";
---

<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={site.description} />
    <title>{site.title}</title>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body
    class="transition-all duration-300 min-h-full bg-color2 dark:bg-dcolor2 text-black dark:text-white font-sans leading-normal tracking-wide"
  >
    {
      site.svgDefs.map(svgDef => (
        <svg style="display: none" version="2.0">
          <defs>
            <symbol id={svgDef.id} viewBox={svgDef.viewBox}>
              <path class="fill-gray-700 dark:fill-gray-300" d={svgDef.path} />
            </symbol>
          </defs>
          <use href={`#${svgDef.id}`} />
        </svg>
      ))
    }

    <div class="fixed w-full h-full pointer-events-none">
      <canvas id="canvas"></canvas>
    </div>

    <div
      class="flex items-center justify-center w-full min-h-full sm:p-4 md:p-8 lg:p-12"
    >
      <div
        class="content w-full h-full sm:max-w-md md:max-w-7xl relative sm:shadow sm:rounded-xl bg-gradient-to-b from-white/75 to-zinc-100/75 dark:from-zinc-800/75 dark:to-black/75 overflow-hidden"
      >
        <div
          class="mx-auto md:absolute md:top-0 md:right-0 overflow-visible w-full aspect-square md:w-128 md:h-128 lg:w-160 lg:h-160"
        >
          <img
            src={site.photoUrl}
            width="100%"
            height="100%"
            alt=""
            class="object-cover object-center aspect-square"
            style="transform: scale(-1.2,1.2);"
          />
        </div>

        <div class="relative">
          <div class="p-4 md:p-8 text-center md:text-left">
            <div
              class="text-4xl md:text-5xl tracking-wider text-color4 dark:text-dcolor4"
            >
              {site.name}
            </div>
            <div
              class="text-base md:text-xl tracking-widest font-bold mt-1 md:mt-4 text-color3 dark:text-dcolor3"
            >
              {site.jobTitle}
            </div>
            <div
              class="mt-4 md:mt-8 flex space-x-8 justify-center md:justify-start"
            >
              {
                site.socialLinks.map(link => (
                  <a href={link.url} aria-label={link.label} class="w-8 h-8">
                    <svg width="100%" height="100%" version="2.0">
                      <use href={`#${link.svgSymbolId}`} />
                    </svg>
                  </a>
                ))
              }
            </div>
          </div>
          <div id="work-div" class="p-4 md:p-8 flex overflow-x-auto">
            {
              site.works.map((work, i) => (
                <div>
                  <div class="flex items-center">
                    <div class="w-20 h-20 md:w-24 md:h-24 rounded-full bg-white">
                      <img
                        src={work.imageSrc}
                        alt={work.companyName}
                        width="100%"
                        height="100%"
                        class="object-cover object-center rounded-full border-2 border-color4 dark:border-dcolor4"
                        style="aspect-ratio: 1/1"
                      />
                    </div>
                    {i < site.works.length - 1 && (
                      <div class="w-20 md:w-24 border-t-2 border-color4 dark:border-dcolor4 shadow-md" />
                    )}
                  </div>
                  <div class="mt-2 w-32 md:w-44">
                    <div class="text-xs text-gray-600 dark:text-gray-300">
                      {work.from} -
                    </div>
                    <div class="text-xs text-gray-600 dark:text-gray-300">
                      {work.to}
                    </div>
                    <div class="text-sm md:text-base tracking-wider truncate text-color4 dark:text-dcolor4 font-bold">
                      {work.companyName}
                    </div>
                  </div>
                </div>
              ))
            }
          </div>
          <div
            id="project-div"
            class="p-4 md:p-8 overflow-x-auto space-x-8 whitespace-nowrap"
          >
            {
              site.projects.map(project => (
                <div class="inline-block w-72 md:w-80">
                  <a
                    href={project.url}
                    class="block w-full rounded-xl bg-white"
                    style="aspect-ratio: 4/3"
                  >
                    <img
                      src={project.imageSrc}
                      alt={project.name}
                      width="100%"
                      height="100%"
                      class="object-cover object-center rounded-xl shadow border border-color1 dark:border-dcolor1"
                      style="aspect-ratio: 4/3"
                    />
                  </a>
                  <a
                    href={project.url}
                    class="block mt-4 tracking-widest text-lg md:text-xl text-color4 dark:text-dcolor4"
                  >
                    {project.name}
                  </a>
                  <div class="mt-1 flex flex-wrap">
                    {project.tags.map(tag => (
                      <div class="text-xs mr-1 mt-1 bg-color2 dark:bg-dcolor2 text-gray-900 dark:text-gray-50 px-2 py-1 rounded">
                        {tag}
                      </div>
                    ))}
                  </div>
                </div>
              ))
            }
          </div>
        </div>

        <div class="absolute top-0 md:right-0 rounded-xl flex md:flex-col">
          <button id="system-mode-button" type="button" class="w-12 h-12 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <title>Contrast</title>
              <circle
                cx="256"
                cy="256"
                r="208"
                fill="none"
                stroke="currentColor"
                stroke-linejoin="round"
                stroke-width="32"
              >
              </circle>
              <path
                fill="currentColor"
                d="M256 464c-114.88 0-208-93.12-208-208S141.12 48 256 48z"
              >
              </path>
            </svg>
          </button>
          <button id="light-mode-button" type="button" class="w-12 h-12 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="ionicon"
              viewBox="0 0 512 512"
              ><title>Sunny</title><path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-miterlimit="10"
                stroke-width="32"
                d="M256 48v48M256 416v48M403.08 108.92l-33.94 33.94M142.86 369.14l-33.94 33.94M464 256h-48M96 256H48M403.08 403.08l-33.94-33.94M142.86 142.86l-33.94-33.94"
              ></path><circle
                cx="256"
                cy="256"
                r="80"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-miterlimit="10"
                stroke-width="32"></circle>
            </svg>
          </button>
          <button id="dark-mode-button" type="button" class="w-12 h-12 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="ionicon"
              viewBox="0 0 512 512"
              ><title>Moon</title><path
                d="M160 136c0-30.62 4.51-61.61 16-88C99.57 81.27 48 159.32 48 248c0 119.29 96.71 216 216 216 88.68 0 166.73-51.57 200-128-26.39 11.49-57.38 16-88 16-119.29 0-216-96.71-216-216z"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"></path>
            </svg>
          </button>
        </div>
      </div>

      <script type="module" hoist>
        import "../main";
      </script>
    </div>
  </body>
</html>
