---
import "@fontsource-variable/grandstander";
import "@fontsource-variable/kode-mono";
import "../style.css";
import site from "../site-info";
import { Image } from "astro:assets";

const aboutChars = "ABOUT ME".split("");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={site.description} />
    <title>{site.title}</title>
  </head>

  <body>
    <div>
      <div
        class="absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-br from-gray-700 to-black"
        style="clip-path: polygon(0 0, 50% 0, 30% 100%, 0 100%);"
      >
        <div
          class="text-7xl text-white font-mono w-fit px-16 py-8 font-bold scale-x-150"
        >
          {aboutChars.map(ch => <div class="h-20">{ch}</div>)}
        </div>
      </div>

      <div class="absolute w-full h-full flex items-center">
        <div class="flex-auto"></div>
        <div class="w-[25rem]">
          <div
            class="bg-gradient-to-b from-black to-gray-800 py-2 pl-8 pr-16"
            style="clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);"
          >
            <div class="text-3xl text-white tracking-wider">
              {site.about.name}
            </div>
            <div
              class="text-lg font-mono tracking-tighter font-bold text-yellow-300"
            >
              {site.about.jobTitle}
            </div>
          </div>

          <div class="mt-8 ml-12 relative">
            {
              site.works.map((work, i) => (
                <div class="relative">
                  {i !== site.works.length - 1 && (
                    <div class="absolute w-4 h-full flex justify-center">
                      <div
                        class={`bg-gradient-to-b ${work.gradientClass} w-0.5 h-full`}
                      />
                    </div>
                  )}

                  <div
                    class={`relative h-full${
                      i !== site.works.length - 1 ? " pb-6" : ""
                    }`}
                  >
                    <div class={`flex items-center w-full`}>
                      <div
                        class={`w-4 h-4 p-[2px] rounded-full bg-white ${work.borderClass} border-2 flex-none overflow-hidden`}
                      >
                        <div
                          class={`${work.bgClass} w-full h-full rounded-full`}
                        />
                      </div>

                      <div class="ml-4 -mt-[1px] text-xs font-bold flex-auto">
                        {work.periode}
                      </div>
                    </div>

                    <div class="flex w-full">
                      <div class="flex-none w-4" />

                      <div class="ml-4 flex-auto">
                        <div class="flex mt-2 items-center">
                          <div class="w-4 h-4 rounded overflow-hidden bg-white">
                            <Image
                              src={work.imageSrc}
                              alt={`Logo of ${work.companyName}`}
                              loading="eager"
                            />
                          </div>

                          <div class="ml-2 text-sm">{work.companyName}</div>
                        </div>
                        <div class="text-xs tracking-normal mt-1">
                          {work.jobTitle}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
