---
import "../style.css";
import site from "../site-info";
import { Image } from "astro:assets";
import MenuLink from "../components/MenuLink.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={site.description} />
    <title>{site.title}</title>
  </head>

  <body>
    {
      site.svgDefs.map(svgDef => (
        <svg style="display: none" version="2.0">
          <defs>
            <symbol id={svgDef.id} viewBox={svgDef.viewBox}>
              <path fill="#000" d={svgDef.path} />
            </symbol>
          </defs>
          <use href={`#${svgDef.id}`} />
        </svg>
      ))
    }

    <div class="fixed h-full w-full -z-10">
      <canvas id="canvas"></canvas>
    </div>

    <div class="content h-full max-w-md md:max-w-screen-lg mx-auto">
      <div id="about" class="px-4 py-2 w-full">
        <div class="font-bold mt-8">About me</div>
        <div class="text-3xl mt-4 tracking-wider">{site.about.name}</div>
        <div class="text-lg mt-2 font-mono tracking-tighter font-bold">
          {site.about.jobTitle}
        </div>
        <div class="max-w-sm mt-4" set:html={site.about.intro} />

        <div class="mt-4 text-sm text-gray-500">
          {
            site.socialLinks.map(link => (
              <div class="flex">
                <div class="flex-none w-20 font-bold">{link.label}</div>
                <a
                  class="flex-auto block overflow-hidden overflow-ellipsis"
                  href={link.url}
                >
                  {link.linkText ?? link.url}
                </a>
              </div>
            ))
          }
        </div>

        <div class="mt-4 max-w-sm">
          <a
            class="block text-center px-4 pt-2 pb-3 text-xs font-bold bg-gray-600 text-white rounded shadow"
            href={site.about.resumeUrl}>Download my resume</a
          >
        </div>
      </div>

      <div id="work" class="w-full h-96 bg-yellow-50">
        <div>My work experiences</div>
      </div>

      <div id="project" class="w-full h-96 bg-lime-50">
        My personal projects
      </div>
    </div>

    <!-- <script src="../main.ts"></script> -->
  </body>
</html>
