---
import "../style.css";
import site from "../site-info";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={site.description} />
    <title>{site.title}</title>
  </head>

  <body>
    {
      site.svgDefs.map(svgDef => (
        <svg style="display: none" version="2.0">
          <defs>
            <symbol id={svgDef.id} viewBox={svgDef.viewBox}>
              <path fill="#000" d={svgDef.path} />
            </symbol>
          </defs>
          <use href={`#${svgDef.id}`} />
        </svg>
      ))
    }

    <div class="fixed h-full w-full -z-10">
      <canvas id="canvas"></canvas>
    </div>

    <!-- <div class="md:fixed md:h-full w-full -z-10">
      <div
        class="content max-w-md md:max-w-screen-md mx-auto h-full flex justify-end"
      >
        <div class="w-full max-w-md flex-none">
          <Image
            src={site.about.imageSrc}
            alt="Profile picture"
            style="filter: drop-shadow(0 0 1px black); transform: scaleX(-1)"
            loading="eager"
          />
        </div>
      </div>
    </div> -->

    <div class="content max-w-sm md:max-w-screen-md mx-auto">
      <div id="about" class="px-4 py-2 w-full">
        <div class="font-bold mt-8">About me</div>
        <div class="text-3xl mt-4 tracking-wider">{site.about.name}</div>
        <div
          class="text-lg mt-2 font-mono tracking-tighter font-bold text-yellow-700"
        >
          {site.about.jobTitle}
        </div>
        <div class="max-w-sm mt-4" set:html={site.about.intro} />

        <div class="mt-4 text-sm text-gray-500">
          {
            site.socialLinks.map(link => (
              <div class="flex">
                <div class="flex-none w-20 font-bold">{link.label}</div>
                <a class="overflow-hidden overflow-ellipsis" href={link.url}>
                  {link.linkText ?? link.url}
                </a>
              </div>
            ))
          }
        </div>

        <div class="mt-4 max-w-sm">
          <a
            class="block text-center px-4 pt-2 pb-3 text-xs font-bold bg-gray-600 text-white rounded shadow"
            href={site.about.resumeUrl}>Download my resume</a
          >
        </div>
      </div>

      <div id="work" class="w-full px-4 py-2">
        <div class="font-bold mt-8">My work experiences</div>
        <div class="mt-8 relative">
          {
            site.works.map((work, i) => (
              <div class="relative">
                {i !== site.works.length - 1 && (
                  <div class="absolute w-4 h-full flex justify-center">
                    <div
                      class={`bg-gradient-to-b ${work.gradientClass} w-0.5 h-full`}
                    />
                  </div>
                )}

                <div
                  class={`relative h-full max-w-sm${
                    i !== site.works.length - 1 ? " pb-12" : ""
                  }`}
                >
                  <div class={`flex items-center w-full`}>
                    <div
                      class={`w-4 h-4 p-[2px] rounded-full bg-white ${work.borderClass} border-2 flex-none overflow-hidden`}
                    >
                      <div
                        class={`${work.bgClass} w-full h-full rounded-full`}
                      />
                    </div>

                    <div class="ml-4 -mt-[1px] text-xs font-bold flex-auto">
                      {work.periode}
                    </div>
                  </div>

                  <div class="flex w-full">
                    <div class="flex-none w-4" />

                    <div class="ml-4 flex-auto">
                      <div class="flex mt-2">
                        <div class="w-6 h-6 overflow-hidden">
                          <Image
                            src={work.imageSrc}
                            alt={`Logo of ${work.companyName}`}
                          />
                        </div>
                        <div class="ml-2 text-xl">{work.companyName}</div>
                      </div>
                      <div class="text-sm font-mono tracking-normal">
                        {work.jobTitle}
                      </div>

                      <ul class="list-check mt-4 text-xs font-bold text-zinc-700 grid grid-cols-1 gap-2">
                        {work.tags.map(check => (
                          <li>{check}</li>
                        ))}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>

      <div id="project" class="w-full px-4 py-2">
        <div class="font-bold mt-8">My personal projects</div>

        <div class="mt-8 max-w-sm space-y-12">
          {
            site.projects.map(project => (
              <div class={`flex flex-col`}>
                <div class={`flex-none flex overflow-hidden`}>
                  <div class="flex-none w-16 h-16 bg-black rounded-md overflow-hidden">
                    <Image
                      src={project.imageSrc}
                      alt={`Screenshot of ${project.name}`}
                    />
                  </div>
                  <div class="flex-auto flex flex-col px-4 py-2">
                    <div class="text-xl -mt-2">{project.name}</div>
                    <div class="flex flex-wrap">
                      {project.tags.map(tag => (
                        <div class="text-xs mr-1 mt-1 bg-slate-200 text-black px-2 py-1 rounded">
                          {tag}
                        </div>
                      ))}
                    </div>
                  </div>
                </div>
                <div class="mt-2 flex-auto items-end flex w-full">
                  <ul class="flex space-x-2 w-full">
                    {project.links.map(link => (
                      <li class="flex-1">
                        <a
                          href={link.url}
                          class="block w-full text-center bg-stone-100 border border-stone-300 text-stone-700 font-bold text-xs p-2 rounded-3xl"
                        >
                          {link.text}
                        </a>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            ))
          }
        </div>
      </div>

      <div
        id="footer"
        class="w-full mt-8 pb-4 px-4 py-2 text-xs text-slate-700"
      >
        <div>This site is built with Astro and TailwindCSS.</div>
        <div>See the source code on the GitHub repo.</div>
      </div>
    </div>

    <!-- <script src="../main.ts"></script> -->
  </body>
</html>
