---
import "@fontsource-variable/grandstander";
import "@fontsource-variable/kode-mono";
import site from "../site-info";
import "../style.css";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={site.description} />
    <title>{site.title}</title>
  </head>

  <body>
    {
      site.svgDefs.map(svgDef => (
        <svg style="display: none" version="2.0">
          <defs>
            <symbol id={svgDef.id} viewBox={svgDef.viewBox}>
              <path class="fill-current" d={svgDef.path} />
            </symbol>
          </defs>
          <use href={`#${svgDef.id}`} />
        </svg>
      ))
    }

    <div class="p-4 max-w-screen-sm mx-auto">
      <div class="text-3xl">
        <span class="font-bold text-sky-600">H</span>artono <span
          class="font-bold text-emerald-600">C</span
        >handra
      </div>
      <div class="text-lg font-semibold text-lime-700">
        Software Engineer - Web
      </div>

      <div
        class="bg-indigo-100 rounded-xl px-3 py-2 border-2 border-black mt-64"
      >
        <p>Hello!</p>
        <p>
          Please check out my toy projects, and don't hesitate to contact me!
        </p>
      </div>

      <div class="flex space-x-2 mt-3">
        {
          site.socialLinks.map(link => (
            <div
              class={`flex-1 ${link.bgColor} ${link.borderColor} rounded-xl border-2 text-center overflow-hidden py-2`}
              style="box-shadow: 0 1px 0 black;"
            >
              <div class={`w-8 h-8 mx-auto mt-2 ${link.textColor}`}>
                <svg width="100%" height="100%" version="2.0">
                  <use href={`#${link.svgSymbolId}`} />
                </svg>
              </div>
              <div class="mt-2 text-xs">{link.label}</div>
            </div>
          ))
        }
      </div>

      <div class="mt-16 text-lg">My work experience</div>
      <div class="mt-4 relative px-4">
        {
          site.works.map((work, i) => (
            <div class="relative">
              {i !== site.works.length - 1 && (
                <div class="absolute w-4 h-full flex justify-center">
                  <div
                    class={`bg-gradient-to-b ${work.gradientClass} w-0.5 h-full`}
                  />
                </div>
              )}

              <div
                class={`relative h-full${
                  i !== site.works.length - 1 ? " pb-8" : ""
                }`}
              >
                <div class={`flex items-center w-full`}>
                  <div
                    class={`w-4 h-4 p-[2px] rounded-full bg-white ${work.borderClass} border-2 flex-none overflow-hidden`}
                  >
                    <div class={`${work.bgClass} w-full h-full rounded-full`} />
                  </div>

                  <div class="ml-4 -mt-[1px] text-xs font-bold flex-auto">
                    {work.periode}
                  </div>
                </div>

                <div class="flex w-full">
                  <div class="flex-none w-4" />

                  <div
                    class={`ml-4 mt-2 flex-auto ${work.cardBgClass} rounded px-6 py-4 border-2 border-black`}
                  >
                    <div class="flex">
                      <div class="w-6 h-6 rounded overflow-hidden">
                        <Image
                          src={work.imageSrc}
                          alt={`Logo of ${work.companyName}`}
                          loading="eager"
                        />
                      </div>
                      <div class="ml-2 text-xl">{work.companyName}</div>
                    </div>
                    <div class="text-sm mt-1">{work.jobTitle}</div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>

      <div class="mt-16 text-lg">My personal projects</div>
      <div class="mt-4 flex flex-wrap justify-center">
        {
          site.projects.map(project => (
            <div class="p-1 pb-4 mb-4 flex-none w-1/2 relative">
              <div
                class="bg-white rounded-xl border-2 border-black p-1 pb-2"
                style="box-shadow: 0 1px 0 black;"
              >
                <div class="overflow-hidden rounded-lg">
                  <Image
                    class="w-full"
                    src={project.imageSrc}
                    alt={`Screenshot of ${project.name}`}
                  />
                </div>
                <div class="px-2 py-4">
                  <div class="text-lg overflow-hidden whitespace-nowrap text-ellipsis">
                    {project.name}
                  </div>
                  <div class="flex overflow-hidden whitespace-nowrap text-xs font-bold text-gray-600 text-ellipsis">
                    {project.tags.join(", ")}
                  </div>
                </div>
              </div>

              <div class="w-full absolute px-4 bottom-0 left-0 right-0 flex justify-center space-x-1">
                {project.links.map(link => (
                  <div
                    class="py-1 flex-1 text-center bg-blue-50 border-2 border-black rounded-lg text-sm"
                    style="box-shadow: 0 1px 0 black;"
                  >
                    {link.text}
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>

      <div
        id="footer"
        class="w-full mt-16 pb-2 text-xs text-stone-700 dark:text-stone-400"
      >
        <div>
          This site is built with <a href="https://astro.build/">Astro</a> and

          <a href="https://tailwindcss.com/">TailwindCSS</a>.
        </div>
        <div>
          See the source code on my <a
            href="https://github.com/harchcode/portfolio">GitHub repo</a
          >.
        </div>
      </div>
    </div>
  </body>
</html>
