---
import "@fontsource/lexend/300.css";
import "@fontsource/lexend/400.css";
import "../style.css";

import data from "../data";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Hartono Chandra</title>
  </head>

  <body>
    <header class="sm:mt-12 p-4">
      <h1>
        <span class="font-bold">h</span>artono<span class="font-bold">c</span
        >handra<span class="font-bold text-stone-600">.dev</span>
      </h1>

      <nav class="uppercase flex gap-x-12 mt-12">
        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
      </nav>
    </header>

    <section id="about" class="mt-32 p-4">
      <h2>About me</h2>

      <div
        class="mx-auto max-w-xl mt-12 text-lg text-stone-600"
        style="line-height: 1.8"
        set:html={data.intro}
      />

      <div class="mx-auto max-w-xl flex mt-8 gap-x-4">
        <a href="https://google.com"
          ><button
            type="button"
            class="cursor-pointer w-12 h-12 bg-white border-2 border-b-4 border-black rounded-full underline text-xl"
            >in</button
          ></a
        >
        <a href="https://google.com"
          ><button
            type="button"
            class="cursor-pointer w-12 h-12 bg-white border-2 border-b-4 border-black rounded-full underline text-xl"
            >gh</button
          ></a
        >
        <a href="https://google.com"
          ><button
            type="button"
            class="cursor-pointer w-12 h-12 bg-white border-2 border-b-4 border-black rounded-full underline text-xl"
            >cv</button
          ></a
        >
      </div>
    </section>

    <section id="experience" class="mt-64 p-4">
      <h2>My work experience</h2>

      <div
        class="mt-12 sm:ml-12"
        style="display:grid; grid-template-columns: 1fr;"
      >
        {
          data.works.map(work => (
            <div class="experience-item">
              <div class="text-stone-600">{work.periode}</div>
              <h3 class="text-xl font-bold mt-4">{work.jobTitle}</h3>
              <div class="text-xl mt-2">{work.companyName}</div>
              <div class="mt-4 max-w-lg" set:html={work.content} />
              <div class="mt-8 flex flex-wrap gap-2 max-w-xl">
                {work.tags.map(tag => (
                  <div class="px-2 py-1 border bg-lime-50 rounded">{tag}</div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <section id="projects" class="mt-64 p-4">
      <h2>My personal projects</h2>

      <div class="mt-12 sm:mx-12 gap-x-32 projects-wrapper">
        {
          data.projects.map(project => (
            <div
              class="project-item inline-block pb-32"
              style="break-inside: avoid;"
            >
              <h3 class="text-xl font-bold mt-4">{project.name}</h3>

              <div class="mt-4" set:html={project.description} />

              <div class="mt-8 flex flex-wrap gap-2 max-w-xl">
                {project.tags.map(tag => (
                  <div class="px-2 py-1 border bg-blue-50 rounded">{tag}</div>
                ))}
              </div>

              <div class="mt-4 flex flex-wrap gap-4">
                {project.links.map(link => (
                  <a href={link.url}>
                    <button
                      type="button"
                      class="cursor-pointer bg-white border-2 border-b-4 border-black rounded-4xl w-24 px-4 py-2"
                    >
                      {link.text}
                    </button>
                  </a>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <footer class="border-t-2 border-stone-200 mt-32 text-stone-500 py-16 px-8">
      Made with <span class="text-red-500">♥</span> using <a
        class="text-blue-600 underline"
        href="https://astro.build/">Astro</a
      > and
      <a class="text-blue-600 underline" href="https://tailwindcss.com/"
        >Tailwind</a
      >
    </footer>
  </body>
</html>
